*{
  font-size: 20px;
}
body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 600px;
  background: #fff;
  margin: 16px auto;
  padding:7px 5px
}
.title,.content,.button-container{
  background: #e3f4ff;
  padding:12px 15px;
  margin: 10px;
}

.title {
  margin-top: 20px;
}

.button-container {
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin:0 auto;
  padding: 10px 25px;
}